<%- include("header") -%>
<body>

<a href="/work">Go To Work List</a>
<a href="/about">Go To Contact</a>
<a href="/finished">Go To What I have done.</a>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
  <%  newListItem.forEach(function(item){ %>

    <form class="" action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name ="checkbox" value ="<%=item._id%>" input onChange="this.form.submit()">
        <p><%= item.name %></p>
      </div>
    </form>

      <% }) %>


    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="new Item" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>

  </div>




</body>

<%- include("footer") -%>
